# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dist
dist/
dist-ssr/
*.local

# Production
build/

# IDEs
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Flask specific
instance/
.webassets-cache
static/user-uploads/
static/reports/
services/virtual-tryon/rewards.json

# Multimedia
assets/media/*.mp4
frontend/DEMO .mp4
